body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    background-color: #333;
    color: white;
    width: 300px;
    padding: 20px;
    box-sizing: border-box;
    
}

/* .logo {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    text-align: center; */

.img{
    
    /* margin-top: px; */
    align-items: center;
    height: 150px;
}
.img img {
    height: 150px;
    border-radius: 200px;
    width: 150px;
    border-radius: 100px;
}

.heading {
    
    text-align: center;
    position: relative;
    top: -15px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 155vh;
    background: url('bg2.png') no-repeat center center fixed;
    background-size: 2000px;
    padding: 20px;
    box-sizing: border-box;
    color: rgb(19, 15, 15);
    
}

.tagline{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 30px;
    justify-content: start;
    background-color: aliceblue;
    
    height: 150px;
    width: 610px;
}

.t2{
    position: relative;
    top: -30px;
    

}
.nav{
    display: flex;
    position: relative;
    top: 20px;
}

.nav ul {
    list-style: none;
    padding: 0;
}

.nav ul li {
    margin: 20px 0;
}

.nav ul li a {
    color: rgb(12, 11, 11);
    text-decoration: none;
    display: block;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.nav ul li a:hover {
    background-color: #575757;
    color: aliceblue;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        text-align: center;
    }

    nav ul {
        display: flex;
        justify-content: center;
    }

    nav ul li {
        margin: 10px;
    }

    .content{
        width: 100%;
        text-align: center;
    }
}
