body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    display: flex;
    justify-content:start;
    flex-direction: column;
    background-color: #333;
    color: white;
    width: 300px;
    padding: 20px;
    height: 1675px;
    box-sizing: border-box;
    /* border: 2px solid red; */
    
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    text-align: center;
    
}
.img{

    margin-top: 20px;
    align-items: center;
    height: 100px;
}
.img img {
    border-radius: 200px;
    width: 100px;
    border-radius: 100px;
}

.heading {
    position: relative;
    top: -15px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    margin: 20px 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #575757;
}

.content {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 155vh;
    height: max-content;
    background: url('bg2.png') no-repeat center center fixed;
    background-size: 2000px;
    padding: 20px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
}
.content .sidebar{
    height: max-content;
}
.answer{
    align-items: center;
    color: rgb(232, 223, 223);
}

#prediction-form {
    margin-top: 50px;
    width: 500px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
}

#prediction-form h2 {
    margin-bottom: 20px;
}

#prediction-form label {
    display: block;
    margin-bottom: 10px;
}

/* #prediction-form input , #prediction-form select{
    width: 98%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
} */

#prediction-form input, #prediction-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    box-sizing: border-box; 
}




#prediction-form button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#prediction-form button:hover {
    background-color: #45a049;
}


.recommend{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* border: 2px solid rgb(42, 173, 70); */
    margin-top: 15px;
    height: max-content;
    width: 154vh;


}
.line{

    background-color: rgba(0, 0, 0, 0.7);
    color: rgb(255, 255, 255);
    opacity: 0.9;
    /* border: 2px solid blue; */
    text-align: center;
}
.photo{
    margin-top: 15px;
    /* border: 2px solid black;  */
}
.photo img{
    height: 150px;
}

.details{
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
    /* border: 2px solid blue; */
    height: 150px;
    text-align: center;
}

.top5{
    background-color: white;
    /* border: 2px solid violet; */
    display: flex;
    justify-content: space-between;
}

/* Responsive design */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        text-align: center;
    }

    nav ul {
        display: flex;
        justify-content: center;
    }

    nav ul li {
        margin: 10px;
    }

    .content{
        width: 100%;
        text-align: center;
    }

    .recommend{
        flex-direction: column;
        width: 100%;

    } 
    .top5{
        flex-direction: column;
    }
}